@font-face {
    font-family: Nighty;
    src: url("fonts/Nighty.otf") format("opentype");
}

body{
    font-family: Nighty, sans-serif;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8DCDA;
    color: #1C193F;
}

#main{
    margin-top: 24vh;
    width: 290px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imageContainer{
    margin-top: 36px;
    width: calc(290px * 1.15);
    opacity: 0;
    animation: opacityChange 1000ms ease-in-out 1800ms forwards;
}

@keyframes opacityChange {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

#imageContainer img{
    width: 80%;
    margin-bottom: 48px;
    border-radius: 8px;
    filter: grayscale(1);
    border: 2px solid #1C193F;
}
#imageContainer img.left{
    float:left;
}
#imageContainer img.right{
    float:right;
}

#main img{
    width:100%;
}
#main .hero{
    border-radius: 16px 16px 0 0;
    border: 2px solid #1C193F;
    border-bottom: 0px;
    object-fit: cover;
    height: 0;
    opacity: 0;
    animation: reveal 1000ms ease-in-out 900ms forwards;
}

@keyframes reveal {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 200px;
        opacity: 1;
    }
    
}
#main #logo{
    width: 120%;
    margin-top: -18px;
    z-index: 1000;
}

h1{
    font-size: 36px;
    margin: 0;
    margin-top: 8px;
}
h2{
    width: 115%;
    font-size: 20px;
    margin: 0;
    text-align:center;
    font-weight: 400;
    line-height: 85%;
    text-align: justify;
}
h3{
    width: 115%;
    font-size: 21px;
    text-align:justify;
    margin: 0;
    line-height: 75%;
    margin-top: 8px;
    font-weight: 400;
    opacity: .7;
}
h4{
    font-size: 32px;
    color: #F8DCDA;
    text-shadow: -2px 2px 0 #1C193F,
    2px 2px 0 #1C193F,
   2px -2px 0 #1C193F,
  -2px -2px 0 #1C193F;
}

a, a:visited{
    text-decoration: none; /* no underline */
    color: #F8DCDA;
}

#instaButton{
    position: fixed;
    right: calc((100vw - 290px * 1.15) / 2);
    width: 58px;
    height: 58px;
    bottom: 18px;
    background-color: #C6473C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 10s linear infinite forwards;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

#openToAll{
    position: fixed;
    left: calc((100vw - 290px * 1.15) / 2);
    height: 58px;
    bottom: 18px;
    background-color: #1C193F;
    border-radius: 16px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8DCDA;
    text-align: center;
    font-size: 20px;
}

#nextEvent{
    width: calc(100vw - 48px);
    max-width: 400px;
    position: absolute;
    background-color: #F8DCDA;
    border: 2px solid #1C193F;
    color: #1C193F;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: moveDown 500ms ease-out 3s forwards, pulse 750ms linear 3100ms infinite alternate;
    opacity: 0;
    font-family: sans-serif;
}

@keyframes moveDown {
    from{
        top: -100px;
        opacity: 0;
    }
    to{
        top: 12px;
        opacity: 1;
    }  
}

@keyframes pulse {
    from{
        border: 2px solid #1C193F;
        /* opacity: .9; */
    }
    to{
        border: 2px solid #1C193F44;
        /* opacity: .65; */
    }  
}

.cal{
    border-radius: 3px;
    text-align: center;
    width: 58px;
    height: calc(60px - 8px + 2px);
    background-color: #F8DCDA;
    margin-right: 12px;
    border: 2px solid #1C193F;
}

#month{
    background-color: #C6473C;
    color: #F8DCDA;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
#day{
    background-color: #F8DCDA;
    color:#1C193F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.next{
    font-weight: 700;
    font-size: 15px;
}
#calLink{
    color: #C6473C;
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline;
}
#calLink::after{
    content:" -->";
    text-decoration:none;
}
.timeLocation{
    font-size: 15px;
    margin-bottom: 4px;
}

@media only screen and (min-width: 600px) {
    #main{
        transform: scale(1.1);
    }
    #imageContainer{
        margin-top: 56px;
    }
    #instaButton{
        width: 80px;
        height: 80px;
        right: 12vw;
    }
    #openToAll{
        height: 80px;
        left: 12vw;
    }
    #instaButton svg{
        transform: scale(1.5);
    }
  }